EXPO_PUBLIC_APPWRITE_PROJECT_ID=projectId
EXPO_PUBLIC_APPWRITE_PROJECT_NAME=projectName
EXPO_PUBLIC_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1

EXPO_PUBLIC_DB_ID=databaseId
EXPO_PUBLIC_HABITS_TABLE_ID=habitsTableId
EXPO_PUBLIC_HABITS_COMPLETION_TABLE_ID=habitsCompletionTableId